name: Build

on:
  push:
    branches: [ main ]
    paths:
    - compose/**
    - .github/**
    - habitat/**

  pull_request:
    branches: [ main ]
    types: [opened, reopened, synchronize]
    paths:
    - compose/**
    - .github/**
    - habitat/**

jobs:
  rake:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0.1']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
        bundler: '2.3.3'
        working-directory: compose
    - name: Run lint and unit tests
      run: |
        touch /usr/local/bin/hab
        cd compose
        bundle exec rake